<div class="login-container">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
    <h2>Iniciar Sesión</h2>

    <label for="usuario">Usuario</label>
    <input
      id="usuario"
      type="text"
      formControlName="usuario"
      placeholder="Ingresa tu usuario"
    />

    <label for="contrasena">Contraseña</label>
    <input
      id="contrasena"
      type="password"
      formControlName="contrasena"
      placeholder="Ingresa tu contraseña"
    />

    <button type="submit" [disabled]="loginForm.invalid">Ingresar</button>
    <button (click)="registrarse()" style="background-color: rgb(152, 180, 196);" class="btn-registro" >Registrarse</button>
    <p *ngIf="loginForm.invalid && loginForm.touched" class="error">
      Por favor completa todos los campos.
    </p>
  </form>
</div>
