<nav class="navbar">
  <div class="logo">Mis Tejidos</div>
  <ul class="nav-links">
    <li><a href="#inicio">Inicio</a></li>
    <li><a href="#galeriaProductos">Galería</a></li>
    <li><a routerLink="/ingresar">Ingresar</a></li>
    <li><a routerLink="/carrito">carrito</a></li>
    
  </ul>
</nav>

<p-breadcrumb [model]="items" [home]="home" />

<section class="galeria" id="inicio">
    
        <app-galeria/>
  
</section>
    
<section class="productosG" id="galeriaProductos">

      <app-productosG/>
      
</section>

<section>
  <app-contacto></app-contacto>
</section>
    

<footer class="footer">
  <p>&copy; 2025 Mis Tejidos. Todos los derechos reservados.</p>
</footer>
