.registro-container {
  max-width: 350px;
  margin: 50px auto;
  padding: 20px;
  background: #121212;
  color: white;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.4);
  text-align: center;
}

.field {
  margin: 15px 0;
}

input, .p-autocomplete {
  width: 100%;
}

button {
  margin-top: 20px;
  width: 100%;
}
